---
---

<div class="flex justify-center">
  <div class="mx-8 mb-16 max-w-7xl flex-col gap-8">
    <div class="max-w-4xl flex-col">
      <h1
        class="mb-4 text-center text-5xl font-bold text-dnt-orange-500 dark:text-dnt-orange-400"
      >
        Our activities
      </h1>
      <h2 class="mb-2 text-2xl font-bold text-stone-700 dark:text-stone-100">
        Workshops
      </h2>
      <p>
        We're not only able to show what a robot can do, we also offer the
        possibility to show you how to program them. Depending on age and
        experience we offer different workshops, tailored to every level and
        with room for specific educational purposes. Make the robot move, dance
        and observe its surroundings!
      </p>

      <div class="pb-8"></div>

      <h2 class="mb-2 text-2xl font-bold text-stone-700 dark:text-stone-100">
        Lectures
      </h2>
      <p>
        Are you interested in our techniques applied to perform autonomous
        football, the relevancy of our work and the current landscape of AI and
        robotics? Or maybe you are curious about what could be next at the
        cutting edge of our field? We are happy to give lectures and
        presentations, both on location and inside our Intelligent Robotics Lab.
      </p>

      <div class="pb-8"></div>

      <h2 class="mb-2 text-2xl font-bold text-stone-700 dark:text-stone-100">
        Competition
      </h2>
      <p>
        Of course there is no football without a little competition, which is
        why we also compete in the yearly RoboCup SPL (Standard Platform League)
        and regional competitions throughout Europe. Our robots are put to the
        test by playing matches against teams from all over the world.
      </p>

      <div class="pb-20"></div>

      <p class="text-center text-dnt-orange-700 dark:text-dnt-orange-300">
        Want to join the crew, sponsor us, or have any other questions? Send us
        an email at <a
          href="mailto:info@dutchnaoteam.nl"
          class="text-black underline hover:text-dnt-orange-400 hover:decoration-wavy dark:text-white"
          >info@dutchnaoteam.nl</a
        >
      </p>
    </div>
  </div>
</div>
