---


// export interface Props {
//   path: string;
//   widths: number[];
//   sizes: string;
// }

// const { path, widths, sizes } = Astro.props;

---
<div class="w-full">
    <img class="w-full" src="/images/banner_image.webp" alt="DNT banner" />
</div>