---
---
<div class="flex justify-center my-16 gap-8 flex-col items-center mx-8 lg:flex-row lg:items-begin">
    <div class="flex-col max-w-7xl lg:max-w-md">
        <h1 class="text-4xl font-bold text-dnt-orange-500 dark:text-dnt-orange-400 mb-2">
            Meet the team
        </h1>
        <h2>
            With a team of bachelor and master students from the University of Amsterdam, we program robots to play football by themselves. With these robots we compete in competitions around the whole world.
            By programming them in advance, we let them see with their cameras, hear with their microphones and communicate with their wifi capabilities to remove the need for a human controller.
        </h2>

    </div>
    <img src="/images/Team_Complete.webp" width="800px" alt="DNT team image" />
</div>