---
---

<div
  class="custom-xl:items-begin mx-8 my-8 flex flex-col-reverse items-center justify-center gap-8 md:my-16 md:flex-col custom-xl:flex-row"
>
  <div class="max-w-7xl flex-col custom-xl:max-w-md">
    <h1
      class="mb-2 text-4xl font-bold text-dnt-orange-500 dark:text-dnt-orange-400"
    >
      Meet the team
    </h1>
    <h2>
      With a team of bachelor and master students from the University of
      Amsterdam, we program robots to play football by themselves. With these
      robots we compete in competitions around the whole world. By programming
      them in advance, we let them see with their cameras, hear with their
      microphones and communicate with their wifi capabilities to remove the
      need for a human controller.
    </h2>
  </div>
  <img src="/images/Team_Complete.webp" width="800px" alt="DNT team image" />
</div>
