---
import SponsorCard from "./sponsorCard.astro";
import type { Sponsor } from "./types";

export interface Props {
  sponsors: Sponsor[];
  level: Number;
}

const { sponsors, level } = Astro.props as Props;

let levelstyleInner = "max-w-lg w-4/7";
let levelstyleOuter = " flex-wrap justify-between ";
if (level == 1) {
  levelstyleInner = "w-full m-5 max-w-7xl";
  levelstyleOuter = " flex-col justify-center items-center";
} else if (level == 2) {
  levelstyleInner = "w-full m-5 max-w-5xl";
  levelstyleOuter = " flex-col justify-center items-center";
} else if (level == 3) {
  let levelstyleInner = "max-w-lg w-4/7";
  let levelstyleOuter = " max-w-2xl flex-wrap justify-between ";
}
---

<div class="w-full cursor-grab overflow-hidden rounded-lg">
  <div class=`flex w-full content-center ${levelstyleOuter}`>
    {
      sponsors.map((sponsor) => (
        <div class={levelstyleInner}>
          <SponsorCard {...sponsor} />
        </div>
      ))
    }
  </div>
</div>