---
// import worldSVG from "../../svgs/earth_line.svg"
import codeSVG from "../../svgs/code_fill.svg"
// import handSVG from "../../svgs/hand_heart_line.svg"
// import pinSVG from "../../svgs/pin_fill.svg"
// import cupSVG from "../../svgs/teacup_line.svg?raw"
import RoleCarousel from "./roleCarousel.astro";
---

<div
  class="lg:items-begin my-16 flex flex-col items-center justify-center text-center md:text-left"
>
    <h1
      class="mb-8 text-center text-5xl font-bold text-partner-text dark:text-dnt-orange-400"
    >
      Join our team!
    </h1>
    <div class = "flex flex-col items-baseline align-center items-center text-center justify-between md:flex-row">
        Interested in joining? Below are some roles that we are looking for right now!<br>Looking for something else? Contact us and together we can find out what suits you best.
    </div>
</div>
<RoleCarousel></RoleCarousel>
<div
  class="bg-white dark:bg-dark-gray lg:items-begin flex flex-col items-center justify-center pt-10 md:px-0 px-10"
>
    <h1
      class="mb-4 text-center text-5xl font-bold dark:text-white"
    >
      Interested?
    </h1>
    <div class="mb-5 md:mb-3 flex flex-col-reverse md:flex-row items-center">
      <h3
        class="text-center text-3xl dark:text-white mr-0 md:mr-3"
      >
        Contact us to join our team!
      </h3>
      <img
      src={codeSVG}
      alt="SVG of code"
      >
    </div><a
      href="https://join.dutchnao.team/"
      class="mb-16 text-center text-xl dark:text-dnt-orange-400 text-partner-text inline-block"
      >By filling in this form.</a>
</div>