---
import NavButton from "./navButton.astro";
---

<div class="flex justify-center">
  <div
    class="mx-8 mb-16 flex w-full max-w-4xl flex-auto flex-col gap-8 lg:flex-row"
  >
    <NavButton
      title="Publications"
      body="Find out about our publications here!"
      href="/publications"
    />
    <NavButton
      title="Documentation"
      body="Find out about our framework here!"
      href="/en/introduction"
    />
  </div>
</div>
