---
import PartnerLogo from "./partnerLogo.astro";
import type { Partner } from "./types";
import { PartnerLevels } from "./types";

export interface Props {
  partners: Partner[];
  level: Number;
}

const { partners, level } = Astro.props as Props;

let levelstyleInner = "m-8 flex items-center dark:bg-white";
let levelstyleOuter = " flex-row justify-center items-center h-3/4";
let margins = "m-10 mb-24 mt-12";
let levelName = "Platinum";
if (level == PartnerLevels.Platinum) {
  margins = "m-10 mb-24";
} else if (level == PartnerLevels.Gold) {
  margins = "m-10 mb-24";
  levelName = "Gold";
} else if (level == PartnerLevels.Silver) {
  margins = "m-10 mb-24";
  levelName = "Silver";
} else if (level == PartnerLevels.Bronze) {
  margins = "m-10 mb-0";
  levelName = "Bronze";
}
---

<div class=`${margins}`>
  <h1 class="mb-2 text-center text-3xl font-bold text-partner-text">
    {levelName}
  </h1>
  <div class=`flex w-full content-center ${levelstyleOuter}`>
    <p
      class=`${partners.length == 0 ? " " : "hidden"} mt-8 text-center md:text-left`
    >
      We don't have partners in this catogory yet. Do you want to be the first?
      Mail at: <a
        href="mailto:partnerships@dutchnaoteam.nl"
        class="text-center text-partner-text underline hover:text-partner-text hover:decoration-wavy dark:text-white md:text-left"
        >partnerships@dutchnaoteam.nl</a>
    </p>
    <div
      class=`${partners.length == 0 ? "hidden" : " "} dark:bg-white dark:w-full dark:rounded-lg dark:md:w-1/2 content-center  justify-center flex`
    >
      {
        partners.map((partner) => (
          <div class={levelstyleInner}>
            <PartnerLogo {...partner} />
          </div>
        ))
      }
    </div>
  </div>
</div>
