---
import NavButton from "./navButton.astro";
---

<div class="flex justify-center">
  <div
    class="mx-8 mb-16 flex w-full max-w-4xl flex-auto flex-col gap-8 lg:flex-row"
  >
    <NavButton
      title="Publications"
      body="Find out about our publications here!"
      href="/publications"
    />
    <NavButton
      title="Documentation"
      body="Find out about our framework here!"
      href="/en/introduction"
    />

    <!-- <div class="flex-col align-begin">
            <h1 class="text-3xl font-bold text-dnt-orange-500 dark:text-dnt-orange-400 mb-2">
                
            </h1>
            <p>
                
            </p>
        </div> -->
  </div>
</div>
